[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "YvanDotet/query_deluxe"]
	path = YvanDotet/query_deluxe
	url = git@github.com:YvanDotet/query_deluxe.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0
